@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  color: white;
  overflow-x: hidden;
  background-color: #131010;
}

input{
  border: 1px solid black;
}
html{
  scroll-behavior: smooth;

}

